@import url('https://fonts.google.com/share?selection.family=Poppins:wght@300');
@import url('https://fonts.google.com/share?selection.family=Nunito:ital@0;1');






/*h2 {
  font-family: 'Nunito';
  font-weight: 300;
  font-size: large;
}

h4font {
  font-size: large;
  font-style: oblique;
  
}

.largefont {
  font-family: 'Roboto Mono';
  font-size: 70px;
}

  

#pdiv {
  margin: 20px;
  padding: 5px;
  border: 3px;
  display: block;
  font-style: italic;
  font-family: 'Roboto Mono';
}



#headerdiv {
  background-color: rgba(166, 182, 241, 0.8);
  background-size: auto; 
}

.pinkbg {
  background-color: rgba(236, 143, 227, 0.8);
  background-size: auto;
}
*/